<html>
   <head>
      <title>Express</title>
      <meta charset="utf-8" />
   </head>
   <body>
      <i>Hello {{name}}!</i>
      {{#each range}}
         <div>
            {{this}}
         </div>
      {{/each}}
   </body>
</html>
